aiofiles
aioice
aiortc
annotated-types
anyio
av
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dnspython
fastapi
filelock
fonttools
fsspec
google-crc32c
h11
httptools
idna
ifaddr
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
psutil
pycparser
pydantic
pydantic_core
pyee
pylibsrtp
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
scipy
setuptools
six
sniffio
starlette
sympy
torch
torchaudio
torchvision
typing-inspection
typing_extensions
ultralytics
ultralytics-thop
urllib3
uvicorn
watchfiles
websockets
wheel